{% extends 'base.html' %}

{% block meta %}
<title>Buat Task</title>
{% endblock meta %}

{% block content %}  


<div style="margin-top: 100px;margin-left: 30%;margin-right: 30%;">
<h1 style="text-align: center;">Buat Task</h1> 
    <form method="POST" class="form-control">  
        {% csrf_token %}  
        <table>  
            <tr>{{ form.as_div }}</tr>
            <tr>  
                <input style="border-radius: 5px;" class="button" type="submit" name="submit" value="Daftar"/>
                <button style="border-radius: 5px; margin-top: 10px; margin-left: 10px;"><a style="color:black; text-decoration: none;"" href="{% url 'todolist:show_todolist' %}">Kembali</a></button>
            </tr>  
        </table>  
    </form>
</div>
{% endblock content %}