{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class=".bg-light.bg-gradient" style="margin-top: 100px;margin-left: 35%;margin-right: 35%;">
    <h1 style="text-align: center;">Login</h1>
    <form method="POST" action="" class="form-control">
        {% csrf_token %}
        <table>
                <tr>Username: </tr>
                <tr><input type="text" name="username" placeholder="Username" class="form-control" style="border-radius:10px"></tr>  
                <tr>Password: </tr>
                <tr><input type="password" name="password" placeholder="Password" class="form-control" style="border-radius:10px"></tr>
                <tr></tr>
                <tr><input style="border-radius: 10px;margin-top: 10px;" type="submit" value="Login" ></tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: whitesmoke;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p>Belum mempunyai akun? <a style="color:whitesmoke" href="{% url 'todolist:register' %}">Buat Akun</a></p>

</div>

{% endblock content %}