{% extends 'base.html' %}

 {% block content %}
  <h1><b>Tugas 2 Assignment PBP/PBD</b></h1>

  <h3>Name: </h3>
  <p>{{name}}</p>

  <h3>Student ID: </h3>
  <p>{{student_id}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in watch_list %}
      <tr>
        <td>
            {% if item.watched %}
            Yes
            {% else %}
            No
            {% endif %}</td>
        <td>{{item.title}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.release_date}}</td>
        <td>{{item.review}}</td>
      </tr>
    {% endfor %}
  </table>

<h2><center>
  {{message}}</center>
</h2>

 {% endblock content %}
